$grey-100: #F8F9FA;

.card-container {
  width: 280px;
  height: 400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  align-items: center;
  background: linear-gradient(#fff697, #e86653);

  .card-title {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  .card-image {
    width: 250px;
    margin: 15px;
    height: fit-content;
  }

  .card-stats {
    display: flex;
    width: 100%;
    justify-content: space-around;

    & > p {
      margin: 0;
    }
  }
}


